// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$promotions_app_front-primary: mat.define-palette(mat.$indigo-palette);
$promotions_app_front-accent: mat.define-palette(
  mat.$pink-palette,
  A200,
  A100,
  A400
);

// The warn palette is optional (defaults to red).
$promotions_app_front-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$promotions_app_front-theme: mat.define-light-theme(
  (
    color: (
      primary: $promotions_app_front-primary,
      accent: $promotions_app_front-accent,
      warn: $promotions_app_front-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($promotions_app_front-theme);

/* You can add global styles to this file, and also import other style files */
// Tailwind
@tailwind base;
@tailwind components;
@tailwind utilities;


// Bootstrap Icons
@import "~bootstrap-icons/font/bootstrap-icons.css";



body {
  --primary: #0094ff;
  --primary-dark: #0082e0;
  --primary-light: #1a9fff;

  --success: #2dd36f;
  --warning: #ffc409;
  --danger: #eb445a;
  --info: #92949c;

  // --background-color: #f0f5f9;

  --surface: #f2f6fa;
  --surface-dark: #d3d8db;

  --on-primary: #ffffff;
  --on-primary-light: var(--primary);
  --on-primary-dark: #ffffff;
  --on-surface: #f2f6fa;
  --on-surface-dark: #d3d8db;

  --sidebar-background-color: var(--surface-dark);
  --sidebar-inactive-element: var(--on-surface-dark);
  --sidebar-active-element: #ffffff;

  --main-color: var(--primary);
  --main-text-color: var(--on-surface);

  --button-primary-background-color: var(--on-primary);
  --button-secondary-background-color: var(--primary-light);
  --button-primary-text-color: var(--on-primary);
  --button-secondary-text-color: var(--on-primary-light);

  --content-background-color: var(--surface);
  --card-background-color: var(--surface);

  --form-border-color: #d5d7d9;
  --form-placeholder-color: #eee;
  --form-background-color: var(--surface);
  --form-text-color: var(--on-surface);

  --table-header-background-color: rgb(245, 245, 245);
  --table-header-text-color: rgba(0, 0, 0, 0.54);
  --table-body-background-color: var(--surface);
  --table-body-text-color: var(--on-surface);

  --chart-primary-color: var(--primary);
  --chart-secondary-colors: #ff9b21;

  // Fonts
  /* ------------ Sidebar Fonts -------------*/
  --sidebar-font-family: "Hind Siliguri", sans-serif;
  --sidebar-font-size: 14px;
  --sidebar-font-weight: 500;

  /* ------------ Content Fonts -------------*/
  // --content-font-family: "Hind Siliguri", sans-serif;
  --content-font-family: "'Roboto'";
  --content-font-size: 14px;
  --content-font-weight: 500;

  /* ------------ Input Fonts -------------*/
  --input-font-family: "Hind Siliguri", sans-serif;
  --input-font-size: 14px;
  --input-font-weight: 500;

  /* ------------ Table Fonts -------------*/
  --table-font-family: "Hind Siliguri", sans-serif;
  --table-font-size: 14px;
  --table-font-weight: 500;

  color: var(--main-text-color);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
